@import './colors.scss';
@import './fonts.scss';
*{
  font-family: 'Nunito';
  box-sizing: border-box;
}
ul{
  padding-left:0;
  margin: 0;
}
body {
  background: linear-gradient(to bottom, #ffffff, #f4f4f445 50%, #ffffff 100%);
  margin: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* folders */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* UPLOAD_FILE */
.uploadFile__hiddenButton{
  display:none;
}
.uploadFile__visibleButton{
  /* display:none; */
  color:rgb(14, 96, 147);
  cursor: pointer;
}

@for $i from 1 through 50 {
  $px: $i * 1;
  :global(.m#{$i}) { margin: $px+px; }
  :global(.ml#{$i}) { margin-left: $px+px; }
  :global(.mt#{$i}) { margin-top: $px+px; }
  :global(.mr#{$i}) { margin-right: $px+px; }
  :global(.mb#{$i}) { margin-bottom: $px+px; }
  :global(.my#{$i}) { margin-top: $px+px; margin-bottom: $px+px; }
  :global(.mx#{$i}) { margin-left: $px+px; margin-right: $px+px; }
  :global(.p#{$i}) { padding: $px+px; }
  :global(.pl#{$i}) { padding-left: $px+px; }
  :global(.pt#{$i}) { padding-top: $px+px; }
  :global(.pr#{$i}) { padding-right: $px+px; }
  :global(.pb#{$i}) { padding-bottom: $px+px; }
  :global(.py#{$i}) { padding-top: $px+px; padding-bottom: $px+px; }
  :global(.px#{$i}) { padding-left: $px+px; padding-right: $px+px; }
  //BORDER
  :global(.brx#{$i}) { border-radius: #{$i}px; }
  :global(.br#{$i}) { border-radius: #{$i * 1%}; }
}

@for $y from 1 through 50 {
  $ypx: $y * 1;
  @for $x from 1 through 50 {
    $xpx: $x * 1;
    :global(.p#{$y}-#{$x}) {  padding-top: $ypx+px; padding-bottom: $ypx+px; padding-left: $xpx+px; padding-right: $xpx+px;}
    :global(.m#{$y}-#{$x}) {  margin-top: $ypx+px; margin-bottom: $ypx+px; margin-left: $xpx+px; margin-right: $xpx+px;}
  }
}

@for $i from 1 through 80 {
  $i: $i * 10;
  $px: $i * 1;
  :global(.w#{$i}) {  width: $i+px; }
  :global(.h#{$i}) {  height: $i+px; }
}

@for $y from 1 through 80 {
  $y: $y * 10;
  @for $x from 1 through 80 {
    $x: $x * 10;
    :global(.wh#{$x}-#{$y}) {  width: #{$x * 1%}; height: #{$y * 1%} }
    :global(.whx#{$x}-#{$y}) {  width: $x+px; height: $y+px; }
  }
}

:global(.w100t) {
  width: 100%;
}

:global(.h100t) {
  height: 100%;
}

:global(.br0) {
  border: none;
}

/***ROW****/
:global(.frsc){
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

:global(.frbc){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

:global(.frbb){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
}

:global(.frec){
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

:global(.frcc){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/***COLUMN****/

:global(.fcbc){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

:global(.fcbs){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

:global(.fcbh){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

:global(.fcsc){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

:global(.fcss){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

:global(.fcsh) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

:global(.w100) {
  width: 100%;
}

:global(.h100) {
  width: 100%;
}

:global(a:-webkit-any-link) {
  text-decoration: none;
  color: inherit;
}

:global(.tar) {
  text-align: right;
}

:global(.main){
  overflow-x:hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  position:relative;
}

:global(.masonry-grid) {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; // Negative margin to counteract column padding

  :global(.masonry-column) {
    flex: 1;
    padding: 10px; // Padding for columns
    box-sizing: border-box; // Make sure padding is included in column width

    :global(.masonry-item) {
      position: relative;
      width: 100%;
      margin-bottom: 10px; // Margin between items
      box-sizing: border-box; // Make sure padding is included in item width

      :global(.masonry-item-img) {
        width: 100%;
        display: block;
      }
    }
  }
}

:global(.crs) {
  cursor: pointer;
}

:global(.tovfl) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

:global(.oh){
  overflow: hidden;
}

:global(.tac){
  text-align: center;
}

:global(button){
  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}