.wrapper{
  // background-color: #252636;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
  padding-top: 14px;
}
.logo{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url(@static/favicon_io/android-chrome-192x192.png);
  background-size: contain;
}
.links1{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
  height:150px;
}

:global(a.active .iconWrapper) {
  color: #5f8cf9;
}